.header {
    background: url(../assets/home-image-1.jpg);
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.header::before {
    @include pseudo;
    background: url(../assets/header-box.jpg);
    background-size: cover;
    background-position: center center;
    @include abs-position(35%, 60%, -15%, 0)
}

.header-title {
    margin: auto;
    transform: translateX(15%);
    
    .title {
        display: block;
        animation: swing 2s ease;
        transform-origin: top center;
    }
}



