header {
    background: url('../assets/home-image-1.jpg');
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &__logo {
        flex: 1 1 20%;
    }

    &__navigation {
        flex: 1 0 10%;
    }

    &__navigation-list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-around;
    }

    &__navigation-item {
        flex: 1;
    }
}

.header-title {
    margin: auto;
    transform: translateX(20%);
    .title {
        display: block;
    }
}

