.blog-header {
  background: url(../assets/blog-image-1.jpg);
  height: 65vh;
  height: 450px;
  background-position: bottom center;
  background-size: cover;

  &__title {
    margin-top: 12%;
  }
}

main {
  background: $secondary-color-2;
}

.blog-article {
  float: left;
  width: 60%;
  margin-right: 10%;

  @include media(1000px) {
    float: none;
    width: 100%;
  }

  .article {
    border: 5px solid $primary-color;
    margin-top: -6.5rem;
    z-index: 10;

    &__image {
      width: 100%;
      @include box-shadow(20px, 20px);
      @include outline;

      @include media(1000px) {
        width: 80%;
        margin: 5% 10%;
      }
    }

    &__image,
    &__title,
    &__paragraph {
      margin-bottom: $small-margin;
      text-align: center;
    }
  }

  .comments {
    &__title {
      margin: $small-margin 0;
    }
  }

  .comment {
    margin-bottom: $large-margin;

    display: flex;
    align-items: flex-start;

    @include media(600px) {
      @include vertical-flex-center;
    }

    &__image-box {
      margin-right: 2rem;

      @include media(600px) {
        margin-bottom: $small-margin;
      }
    }

    &__title {
      margin-bottom: $small-margin;
    }
  }
}

.more-info {
  width: 30%;
  float: right;

  @include media(1000px) {
    text-align: center;
    float: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10%;
    @include vertical-flex-center;

    &__image {
      width: 60%;
      display: inline-block;
    }
  }

  &__title, &__paragraph  {
    margin-top: $small-margin;
  }

  &__button {
    margin-bottom: $medium-margin;

    @include media(1000px) {
      margin: $small-margin 0;
    }
  }

  &__list {
    color: $primary-color;
  }

  &__link {
    text-decoration: none;
    @include hover($primary-color);
  }
}
