.feature .wrapper {
    display: flex;
    align-items: center;
}

.feature {
    @include section-style($secondary-color-2);
    padding-top: 15%;

    &__text-box {
        @include vertical-flex-left;
        padding-right: 10%;
        flex: 1 1 60%;
    }

    &__image-box {
        flex: 0 0 auto;
        @include outline;
    }
    
    &__image {
        width: 100%;
        object-fit: cover;
        display: block;
        @include box-shadow(-20px, 20px);
    }
}

.gallery {
    @include section-style($accent-color-2);

    &__image {
        display: block;
        width: 100%;
        @include outline;
    }
}

.gallery .wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.iconLinks {
    @include section-style($secondary-color-2);

    &__container {
        @include vertical-flex-left;
    }
}

.iconLinks .wrapper {
    display: grid;
    grid-column-gap: 5rem;
    grid-row-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
}

.info-card {
    @include section-style($accent-color-2);
    
    &__container {
        display: flex;
        width: 45%;
    }

    &__text-container {
        margin: 10% 0;
    }

    img {
        width: 100%;
    }

    &__container:first-of-type {
        float: right; 
        flex-direction: column-reverse;
        margin-bottom: -6rem;


        .info-card__text-container {
            padding-right: 20%;
        }

        img {
            @include box-shadow(-20px, 20px);
        }
    }

    &__container:last-of-type {
        float: left; 
        flex-direction: column;
        margin-top: -6rem;

        .info-card__text-container {
            text-align: right;
            padding-left: 20%;
        }
        
        img {
            @include box-shadow(20px, 20px);
        }
    } 
}

.full-image {
    background-image: url(../assets/banner-image.jpg);
    height: 50vh;
    background-position: center;
    background-size: cover;
}

.free-trip {
    @include section-style($secondary-color-2);
    text-align: center;
}


