// pseudo elements SASS mixins from https://engageinteractive.co.uk/blog/top-10-scss-mixins

@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}

//vertical centing SASS mixins from https://www.developerdrive.com/2018/05/10-best-sass-mixins-for-web-developers/

@mixin vertical-center {
   position: relative;
   top: 50%;
   -ms-transform: translateY(-50%);
   -webkit-transform: translateY(-50%);
   transform: translateY(-50%);
}

//absolute positioning SASS mixins from https://www.developerdrive.com/2018/05/10-best-sass-mixins-for-web-developers/

@mixin abs-position ($top, $right, $bottom, $left) {
   position: absolute; 
   top: $top;
   right: $right;
   bottom: $bottom;
   left: $left;
}

@mixin list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin vertical-flex-left {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: flex-start;
}

@mixin section-style ($background-color) {
    background: $background-color;
    padding: 5% 0;
    margin: 0 auto; 
}

@mixin box-shadow ($x, $y) {
    box-shadow: $x $y $primary-color;
}

@mixin outline {
    transition: all .2s;
    outline: 20px solid transparent;
        
    &:hover {
        transform: scale(1.2);
        outline: 20px solid $primary-color;
    }
}

@mixin hover {
    &:hover {
        color: $primary-color;
    }
}