//COLORS
$primary-color: #50e3c2; // Greenish cyan rgb: (80, 227, 194) 
$primary-color-2: #2c2c2c; //Black rgb: (44,44,44)
$secondary-color: #4a90e2; // Dark sky blue rgb: (74, 144, 226)
$secondary-color-2: #fafffe; // Ice blue rgb: (250, 255, 254)
$accent-color: #063974; // Twilight blue rgb: (6, 57, 116) 
$accent-color-2: #d2f9f1; // Light light blue rgb: (210, 249, 241)
$accent-color-3: #0c5f4c; // Spruce rgb: (12, 95, 76)

//FONT-SIZE
$default-font-size: 1rem; //20px
$small-heading-font-size: 1.5rem; //30px
$medium-heading-font-size: 1.75rem; //35px
$large-heading-font-size: 3.1rem; //62px
$huge-heading-font-size: 4.35rem; //87px

//FONT-FAMILY
$primary-font-family: 'Lato', sans-serif;
$secondary-font-family: 'Playfair Display SC', serif;

//MARGINS
$small-margin: 1rem;
$medium-margin: 3rem;
$large-margin: 4rem;