.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &__logo {
    flex: 1 1 20%;
  }

  &__navigation {
    flex: 1 0 10%;

    @include media(1000px) {
      display: none;
    }
  }

  &__navigation-list {
    @include list;
    display: flex;
    justify-content: space-around;
  }

  &__navigation-item {
    flex: 1;
  }
}
