body {
  font-size: 1rem;
  font-family: $primary-font-family;
  color: $primary-color-2;
}

.header-title {
  font-size: $large-heading-font-size;
  font-weight: bold;
  color: $accent-color-3;
  // 58px / 20px
  line-height: 2.9rem;
  letter-spacing: 6.7px;
  text-transform: lowercase;

  @include media(1000px) {
    font-size: $medium-heading-font-size;
    line-height: 2rem;
  }

  @include media(700px) {
    line-height: 1.5rem;
  }

  @include media(550px) {
    line-height: 1rem;
  }

  @include media(400px) {
    line-height: 0.8rem;
  }
}

.title {
  font-family: $secondary-font-family;
  // 111.2px / 20px
  font-size: 5.26rem;
  color: $accent-color;
  text-transform: capitalize;

  @include media(1000px) {
    font-size: 4rem;
  }

  @include media(700px) {
    font-size: 3rem;
  }

  @include media(550px) {
    font-size: 2rem;
  }

  @include media(400px) {
    font-size: 1.5rem;
  }
}

.heading {
  font-family: $primary-font-family;
  font-weight: bold;
  color: $accent-color;
  // 58px / 20px
  line-height: 2.9rem;
  margin: 0;
  padding: 0;
}

.heading-primary {
  // 87px / 20px
  font-size: 4.35rem;
  color: $secondary-color-2;
  letter-spacing: 9px;

  @include media(1000px) {
    font-size: 3rem;
    letter-spacing: 5px;
    line-height: 4rem;
  }

  span {
    text-transform: capitalize;
  }
}

.heading-secondary {
  // 35px / 20px
  font-size: 1.75rem;
  letter-spacing: 3.8px;

  &--accent {
    color: $accent-color-3;
  }
}

.heading-tertiary {
  // 30px / 20px
  font-size: 1.5rem;
  letter-spacing: 3.2px;

  &--accent {
    color: $accent-color-3;

    span {
      text-transform: capitalize;
    }
  }

  &--accent-2 {
    color: $primary-color-2;
    letter-spacing: 1px;
  }
}

.subtitle {
  font-family: $primary-font-family;
  font-size: 1rem;
  font-style: italic;
  font-weight: 300;
  color: $accent-color;
  margin: 0;

  span {
    font-weight: normal;
    font-style: normal;
    margin-left: 5px;
  }
}

.paragraph {
  font-family: $primary-font-family;
  font-size: 1rem;
  color: $primary-color-2;
  // 32px / 20px
  font-weight: normal;
  line-height: 1.6rem;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;

  &--accent {
    color: $secondary-color-2;
  }

  &--accent-2 {
    font-weight: bold;
    color: $accent-color;
  }

  &--light {
    font-weight: 300;
  }

  span {
    text-transform: capitalize;
  }
}

.logo {
  font-family: $secondary-font-family;
  // 34.6px / 20px
  font-size: 1.73rem;
  color: $primary-color;

  @include media(600px) {
    font-size: 1.5rem;
  }
}

.navigation-link {
  font-weight: bold;
  color: $secondary-color-2;
  text-transform: uppercase;
  text-decoration: none;
}
